* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f4f7;
    color: #3b495e;
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.5;
    padding: 50px 30px;
}

/* ------------------------------*/
/*   Snippflow Countdown Timer   */
/* ------------------------------*/

.sf-countdown {
    text-align: center;
    background-color: #fff;
    padding: 30px 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 0 auto;
}
.sf-countdown .title {
    margin: 0 0 15px;
    font-size: 24px;
    margin-bottom: 20px;
}
.sf-countdown .countdown-item {
    display: inline-block;
    margin: 7px;
    padding: 15px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 5px;
    min-width: 90px;
}
.sf-countdown .countdown-item .number {
    font-size: 30px;
    color: #24A47B;
}
.sf-countdown .countdown-item .label {
    font-size: 14px;
    color: #000;
}